<footer>
  <div class="sn-container sn-row">
    <div class="sn-col">
      <img src="/img/solarnetwork-logo.svg" alt="SolarNetwork" width="348" height="48" />
      <p class="uk-visible@l">&copy; SolarNetwork Foundation</p>
    </div>
    <div class="sn-row">
      <div class="sn-col">
        <h2>Solutions</h2>
        <div>
          <a class="uk-button uk-button-text" href="/how-it-works.html">How it works</a>
        </div>
        <div>
          <a class="uk-button uk-button-text" href="/developers.html">For developers</a>
        </div>
        <div>
          <a class="uk-button uk-button-text" href="/homes.html">For homes</a>
        </div>
        <div>
          <a class="uk-button uk-button-text" href="/subscriptions.html">Subscriptions</a>
        </div>
        <div>
          <a class="uk-button uk-button-text" href="/donate.html">Donate</a>
        </div>
      </div>
      <div class="sn-col">
        <h2>Resources</h2>
        <div>
          <a class="uk-button uk-button-text" href="/resources/services.html">Services</a>
        </div>
        <div>
          <a class="uk-button uk-button-text" href="/resources/blogs.html">News &amp; insights</a>
        </div>
        <div>
          <a class="uk-button uk-button-text" href="/resources/case-studies.html">Case studies</a>
        </div>
        <div>
          <a class="uk-button uk-button-text" href="/quick-start.html">Your first SolarNode</a>
        </div>
      </div>
      <div class="sn-col">
        <h2>Organisation</h2>
        <div>
          <a class="uk-button uk-button-text" href="/about.html">About</a>
        </div>
        <div>
          {{ partial "button" (dict "type" "text" "link" "contact") }}
        </div>
        {{/*
        <div>
          {{ partial "button" (dict "type" "text" "link" "demo") }}
        </div>
        */}}
        <div>
          <a class="uk-button uk-button-text" href="/legal.html">Legal</a>
        </div>
      </div>
    </div>
  </div>
  <div class="sn-container sn-row uk-hidden@l">
    <div>&copy; SolarNetwork Foundation</div>
  </div>
</footer>
