<footer class="sn-grid">
  <div class="sn-col sn-info-card">
    <img src="/img/solarnetwork-logo.svg" alt="SolarNetwork" width="348" height="48" />
    <p class="uk-visible@l">&copy; SolarNetwork Foundation</p>
  </div>
  <div class="sn-row sn-info-card">
    <div class="sn-col">
      <h2>Solutions</h2>
      <div>
        <a class="uk-button uk-button-text" href="/how-it-works.html">How it works</a>
      </div>
      <div>
        <a class="uk-button uk-button-text" href="/developers.html">For developers</a>
      </div>
      <div>
        <a class="uk-button uk-button-text" href="/homes.html">For homes</a>
      </div>
      <div>
        <a class="uk-button uk-button-text" href="/subscriptions.html">Subscriptions</a>
      </div>
    </div>
    <div class="sn-col">
      <h2>Resources</h2>
      <div>
        <a class="uk-button uk-button-text" href="#">News &amp; insights</a>
      </div>
      <div>
        <a class="uk-button uk-button-text" href="#">Home set up guides</a>
      </div>
      <div>
        <a class="uk-button uk-button-text" href="#">Case studies</a>
      </div>
    </div>
    <div class="sn-col">
      <h2>Company</h2>
      <div>
        <a class="uk-button uk-button-text" href="about.html">About</a>
      </div>
      <div>
        <a class="uk-button uk-button-text" href="#">Foundation</a>
      </div>
      <div>
        <a class="uk-button uk-button-text" href="#">Get in touch</a>
      </div>
      <div>
        <a class="uk-button uk-button-text" href="#">Book a demo</a>
      </div>
      <div>
        <a class="uk-button uk-button-text" href="/legal.html">Legal</a>
      </div>
    </div>
  </div>
  <div class="sn-col sn-info-card uk-hidden@l">&copy; SolarNetwork Foundation</div>
</footer>
