<section class="sn-grid sn-alt sn-topic">
  <div
    class="sn-col sn-img-card"
    style="background-image: url(/img/stock/kishan-modi-QCUfbE3QuCc-unsplash@0.5x.jpg)"
    title="Photograph of wind turbine farm on a green, mountainous coastline."
  ></div>
  <div class="sn-col sn-info-card">
    <header>
      <h2>For people and planet</h2>
      <h3>SolarNetwork Foundation</h3>
    </header>
    <p>
      Our charitable aim is to protect the environment through supporting energy education and
      using technology to help people understand energy conservation and renewable energy.
    </p>
    <p>
      <a class="uk-button uk-button-link" href="#">Learn more</a>
    </p>
  </div>
</section>

<section class="sn-col">
  <h2>Ready to revolutionise your energy management?</h2>
  <p>Take control of your energy usage and costs with our powerful platform.</p>
  <div class="sn-button-bar">
    <a class="uk-button uk-button-default" href="#">Get in touch</a>
    <a class="uk-button uk-button-primary" href="#">How it works</a>
  </div>
</section>
