{{/*
  Context item is map with keys:

   * class    (optional) - additional CSS class for div
   * h                   - hue CSS value
   * s                   - saturation CSS value
   * l                   - lightness CSS value
   * logo                - logo text
   * name                - name

 */}}
<div{{ with .class }} class="{{ . }}"{{ end }}
    style="--sn-color-h: {{ .h }}; --sn-color-s: {{ .s }}; --sn-color-l: {{ .l }}">
    <span class="sn-text-logo sn-text-logo-small" title="{{ .name }}" role="img" aria-label="{{ .name }}">{{ .logo }}</span>
</div>
