{{/*
  Named parameters:

   * class      (optional) - additional CSS class for section
   * buttons    (optional) - key within page map parameter "buttons" of buttons partial map

 */}}
{{ if and .Params (and (and (isset .Params "buttons") (isset .Page.Params "buttons")) (isset .Page.Params.buttons (.Get "buttons"))) }}
  {{ partial "button-bar" (dict "buttons" (index .Page.Params.buttons (.Get "buttons"))) |safeHTML }}
{{ else }}
<div class="sn-button-bar{{ with .Get "class" }} {{ . }}{{ end }}">
  {{ .Inner }}
</div>
{{ end }}
