{{/*
  Inner context is treated as Markdown.

  Named parameters:

   * class    (optional) - additional CSS class for div
   * title    (optional) - the section title
   * subtitle (optional) - the section subtitle
   * img      (optional) - the image URL
   * alt      (optional) - the image descripiton
   * url      (optional) - link URL
   * link     (optional) - link text
 */}}
{{ if .Inner }}
{{ partial "deck-link-card" (merge .Params (dict "Page" .Page "content" .InnerDeindent)) }}
{{ else }}
{{ partial "deck-link-card" (merge .Params (dict "Page" .Page)) }}
{{ end }}
