{{/*
  Named parameters:

   * topic    - the section list page to get posts from
   * limit    - the maximum count to render; defaults to 3
*/}}
{{ $max := cond (isset .Params "limit") (.Get "limit") 3 }}
{{ $subject := site.GetPage (.Get "topic") }}
{{ range first $max $subject.Pages }}

    {{ .Scratch.Set "p"  (dict
      "Page" .
      "title" (cond (isset .Params "heading") .Params.heading .Title)
      "url" .RelPermalink
      "content" (cond (isset .Params "brief") .Params.brief (.Summary |plainify))
      )}}
    {{ if not (isset .Params "hide-date") }}
      {{ .Scratch.SetInMap "p" "caption" (cond (isset . "PublishDate")
        (.PublishDate.Format "2006-01-02")
        (.Date.Format "2006-01-02")) }}
    {{ end }}
    {{ if and (isset .Params "images") (isset .Params.images "logo") }}
      {{ .Scratch.SetInMap "p" "logo" .Params.images.logo }}
    {{ else if and (and (isset .Params "images") (isset .Params.images "card")) (isset .Params.images.card "url") }}
      {{ .Scratch.SetInMap "p" "img" .Params.images.card.url }}
      {{ if isset .Params.images.card "alt" }}
        {{ .Scratch.SetInMap "p" "alt" .Params.images.card.alt }}
      {{ end }}
    {{ else if and (isset .Params "images") (isset .Params.images "logo") }}
      {{ .Scratch.SetInMap "p" "logo" .Params.images.logo }}
    {{ end }}
    {{ if or .Truncated (isset .Params "is-subsection") }}
      {{ .Scratch.SetInMap "p" "link" "Read more" }}
    {{ end }}
    {{ if isset .Params "audience" }}
      {{ .Scratch.SetInMap "p" "class" (printf "sn-%s" .Params.audience) }}
    {{ else if isset .CurrentSection.Params "audience" }}
      {{ .Scratch.SetInMap "p" "class" (printf "sn-%s" .CurrentSection.Params.audience) }}
    {{ end }}
    {{- partial "deck-link-card" (.Scratch.Get "p") -}}

{{ end }}
