{{/*
  Renders inner content as HTML.

  Named parameters:

   * id       (optional) - section id attribute value
   * class    (optional) - additional CSS class for section
 */}}
<section{{ with .Get "id" }} id="{{ . }}"{{ end }} class="sn-logos uk-position-relative uk-visible-toggle{{ with .Get "class" }} {{ . }}{{ end }}" uk-slider="sets: true">
  <ul class="uk-slider-items uk-child-width-1-3 uk-grid">
    <li>
      <a href="https://ecogyenergy.com/" target="_blank"><img src="/img/logos/ecogy-energy-logo-bw-532@2x.png"
        alt="Ecogy Energy logo" width="532" height="80" loading="lazy" /></a>
    </li>
    <li>
      <a href="https://ecosuite.io/" target="_blank"><img src="/img/logos/ecosuite-logo-black.png"
        alt="Ecosuite logo" width="245" height="80" loading="lazy" /></a>
    </li>
    <li>
      <a href="https://www.revolveenergy.co/" target="_blank"><img src="/img/logos/revolve-energy-logo-square-black.png"
        alt="Re/volve Energy logo" width="86" height="60" loading="lazy" /></a>
    </li>
    <li>
      <a href="https://www.evisi.co/" target="_blank"><img src="/img/logos/evisi-logo-bw-195.png"
        alt="EVisi logo" width="195" loading="lazy" /></a>
    </li>
    <li>
      <a href="https://at.govt.nz/" target="_blank"><img src="/img/logos/auckland-transport-logo.svg"
        alt="Auckland Transport logo" loading="lazy" /></a>
    </li>
    <li>
      <a href="https://www.airnewzealand.co.nz/" target="_blank"><img src="/img/logos/airnz-logo.svg"
        alt="Air New Zealand logo" loading="lazy" /></a>
    </li>
    <li>
      <a href="https://www.powerco.co.nz/" target="_blank"><img src="/img/logos/powerco-logo.svg"
        alt="Powerco logo" loading="lazy" /></a>
    </li>
  </ul>
  <a
    class="uk-position-center-left uk-position-small uk-hidden-hover"
    href="#"
    uk-slidenav-previous
    uk-slider-item="previous"
  ></a>
  <a
    class="uk-position-center-right uk-position-small uk-hidden-hover"
    href="#"
    uk-slidenav-next
    uk-slider-item="next"
  ></a>
</section>
