{{/*
  Renders inner content as HTML.

  Named parameters:

   * id         (optional) - section id attribute value
   * class      (optional) - additional CSS class for section
   * title      (optional) - the section title
   * subtitle   (optional) - the section subtitle
   * buttons    (optional) - key within page map parameter "buttons" of buttons partial map

 */}}
<section{{ with .Get "id" }} id="{{ . }}"{{ end }}{{ with .Get "class" }} class="{{ . }}"{{ end }}>
  {{ with .Get "title" }}
    <h1 id="{{ partial "hid" . }}">{{ . }}</h1>
  {{end}}
  {{ with .Get "subtitle" }}
    <h2 id="{{ partial "hid" . }}">{{ . }}</h2>
  {{ end }}
  {{ .InnerDeindent }}
  {{ if and (and (isset .Params "buttons") (isset .Page.Params "buttons")) (isset .Page.Params.buttons (.Get "buttons")) }}
    {{ partial "button-bar" (dict "buttons" (index .Page.Params.buttons (.Get "buttons"))) | safeHTML }}
  {{ end }}
</section>
