{{/*
  Renders inner content as HTML.

  Named parameters:

   * id       (optional) - section id attribute value
   * class    (optional) - additional CSS class for section
   * title    (optional) - the section title
   * subtitle (optional) - the section subtitle

 */}}
<section{{ with .Get "id" }} id="{{ . }}"{{ end }} class="sn-content{{ with .Get "class" }} {{ . }}{{ end }}">
  {{ with .Get "title" }}
    <h1 id="{{ partial "hid" . }}">{{ . }}</h1>
  {{end}}
  {{ with .Get "subtitle" }}
    <div class="uk-text-small">{{ . }}</div>
  {{end}}
  {{ .Inner | markdownify }}
</section>
