{{/*
  Renders inner content as Markdown.

  Named parameters:

   * id       (optional) - section id attribute value
   * class    (optional) - additional CSS class for section
   * title    (optional) - the section title
   * subtitle (optional) - the section subtitle

 */}}
<section{{ if isset .Params "id" }} id="{{ .Get "id" }}"{{ else if (isset .Params "title") }} id="{{ partial "hid" (.Get "title") }}"{{ end }}{{ with .Get "class" }} class="{{ . }}"{{ end }}>
  <div class="sn-container sn-row sn-content">
    <div>
      {{ with .Get "title" }}
        <h1>{{ . }}</h1>
      {{end}}
      {{ with .Get "subtitle" }}
        <div class="uk-text-small">{{ . }}</div>
      {{end}}
    </div>
    <div class="sn-scroll-hint uk-inline">
      {{ with .InnerDeindent }}
        {{ . | $.Page.RenderString (dict "display" "block") }}
      {{ end }}
      <span uk-icon="icon: chevron-down" class="uk-position-bottom-right sn-scroll-hint-down"></span>
    </div>
  </div>
</section>
