{{/*
  Renders inner content as Markdown.

  Named parameters:

   * id         (optional) - section id attribute value
   * class      (optional) - additional CSS class for section
   * title      (optional) - the section title
   * subtitle   (optional) - the section subtitle
   * buttons    (optional) - key within page map parameter "buttons" of buttons partial map

 */}}
<section{{ if isset .Params "id" }} id="{{ .Get "id" }}"{{ else if (isset .Params "title") }} id="{{ partial "hid" (.Get "title") }}"{{ end }}{{ with .Get "class" }} class="{{ . }}"{{ end }}>
  <div class="sn-container sn-content">
    {{ with .Get "title" }}
      <h1>{{ . }}</h1>
    {{end}}
    {{ with .Get "subtitle" }}
      <div class="uk-text-small">{{ . }}</div>
    {{end}}
    {{ with .InnerDeindent }}
      {{ . | $.Page.RenderString (dict "display" "block") }}
    {{ end }}
    {{ if and (and (isset .Params "buttons") (isset .Page.Params "buttons")) (isset .Page.Params.buttons (.Get "buttons")) }}
      {{ partial "button-bar" (dict "buttons" (index .Page.Params.buttons (.Get "buttons"))) | safeHTML }}
    {{ end }}
  </div>
</section>
