{{/*
  Named parameters:

   * id         (optional) - section id attribute value
   * class      (optional) - additional CSS class for section
   * title      (optional) - the section title
   * subtitle   (optional) - the section subtitle
   * buttons    (optional) - key within page map parameter "buttons" of buttons partial map
   * deck-class (optional) - additional CSS class for deck
   * grid-class (optional) - additional CSS class for grid

  Page buttons:

    Define a button partial map under a "buttons" key, for example in YAML:

    buttons:
      mybuttons:
        url: link/to/something.html
        text: My Button
 */}}
<section{{ if isset .Params "id" }} id="{{ .Get "id" }}"{{ else if (isset .Params "title") }} id="{{ partial "hid" (.Get "title") }}"{{ end }}{{ with .Get "class" }} class="{{ . }}"{{ end }}>
  <div class="sn-container sn-deck{{ with .Get "deck-class" }} {{ . }}{{ end }}">
    <div class="sn-info-card">
      {{- with .Get "title" -}}
        <h1>{{ . }}</h1>
      {{end}}
      {{ with .Get "subtitle" }}
        <p class="sn-subhead">{{ . }}</p>
      {{ end }}
      <div class="sn-grid{{ with .Get "grid-class" }} {{ . }}{{ end }}">
        {{- .Inner -}}
      </div>
      {{ if and (and (isset .Params "buttons") (isset .Page.Params "buttons")) (isset .Page.Params.buttons (.Get "buttons")) }}
        {{ partial "button-bar" (dict "buttons" (index .Page.Params.buttons (.Get "buttons"))) | safeHTML }}
      {{ end }}
    </div>
  </div>
</section>
