{{/*
  Renders inner content as HTML.

  Named parameters:

   * id         (optional) - section id attribute value
   * class      (optional) - additional CSS class for section
   * title      (optional) - the section title
   * subtitle   (optional) - the section subtitle
   * img                   - the image URL
   * alt        (optional) - the image descripiton
   * buttons    (optional) - key within page map parameter "buttons" of buttons partial map
 */}}
{{ if .Inner }}
{{ partial "section/grid" (merge .Params (dict "Page" .Page "content" .InnerDeindent)) }}
{{ else }}
{{ partial "section/grid" (merge .Params (dict "Page" .Page)) }}
{{ end }}
