{{/*
  Renders inner content as Markdown.

  Named parameters:

   * class    (optional) - additional CSS class for section
   * title    (optional) - the section title
   * subtitle (optional) - the section subtitle
   * img                 - the image URL
   * alt      (optional) - the image descripiton
   * h1       (optional) - if present, then use h1 instead of h2
 */}}
{{ $htag := (cond (isset .Params "h1") "h1" "h2") }}
<section class="sn-grid{{ with .Get "class" }} {{ . }}{{ end }}">
  <div class="sn-col sn-info-card">
    {{ with .Get "title" }}
       {{ printf `<%s id="%s">%s</%[1]s>` $htag (partial "hid" .) . | safeHTML }}
    {{end}}
    {{ with .Get "subtitle" }}
      <p class="sn-subhead">{{ . }}</p>
    {{ end }}
    {{ .Inner }}
  </div>
  {{ partial "img-card" (dict "img" (.Get "img") "alt" (.Get "alt")) }}
</section>
