{{/*
  Renders inner content as HTML.

  Named parameters:

   * id       (optional) - section id attribute value
   * class    (optional) - additional CSS class for section
 */}}
<section{{ with .Get "id" }} id="{{ . }}"{{ end }} class="sn-logos uk-position-relative uk-visible-toggle{{ with .Get "class" }} {{ . }}{{ end }}" uk-slider="sets: true">
  <ul class="uk-slider-items uk-child-width-1-3 uk-grid">
    <li>
      <img
        src="/img/logos/auckland-transport-logo.svg"
        alt="Auckland Transport logo"
        loading="lazy"
      />
    </li>
    <li>
      <img src="/img/logos/airnz-logo.svg" alt="Air New Zealand logo" loading="lazy" />
    </li>
    <li>
      <img src="/img/logos/powerco-logo.svg" alt="Powerco logo" loading="lazy" />
    </li>
    <li>
      <img src="/img/logos/airnz-logo.svg" alt="Air New Zealand logo" loading="lazy" />
    </li>
    <li>
      <img src="/img/logos/powerco-logo.svg" alt="Powerco logo" loading="lazy" />
    </li>
  </ul>
  <a
    class="uk-position-center-left uk-position-small uk-hidden-hover"
    href="#"
    uk-slidenav-previous
    uk-slider-item="previous"
  ></a>
  <a
    class="uk-position-center-right uk-position-small uk-hidden-hover"
    href="#"
    uk-slidenav-next
    uk-slider-item="next"
  ></a>
</section>
