{{/*
  Renders inner content as Markdown.

  Named parameters:

   * class (optional) - additional CSS class for section
   * title (optional) - the section title
   * img              - the image URL
   * alt   (optional) - the image descripiton

 */}}
<section class="sn-grid sn-story{{ with .Get "class" }} {{ . }}{{ end }}">
  <div class="sn-info-card sn-scroll-hint uk-inline">
    {{ with .Get "title" }}<h2 id="{{ partial "hid" . }}">{{ . }}</h2>{{ end }}
    {{ .Inner | markdownify }}
    <span  uk-icon="icon: chevron-down" class="uk-position-bottom-right uk-position-medium sn-scroll-hint-down"></span>
  </div>
  {{ partial "img-card" (dict "img" (.Get "img") "alt" (.Get "alt")) }}
</section>
