{{/*
  Renders inner content as HTML.

  Named parameters:

   * id       (optional) - section id attribute value
   * class    (optional) - additional CSS class for section
   * title    (optional) - the section title
   * subtitle (optional) - the section subtitle
   * img                 - the image URL
   * alt      (optional) - the image description

 */}}
<section{{ if isset .Params "id" }} id="{{ .Get "id" }}"{{ else if (isset .Params "title") }} id="{{ partial "hid" (.Get "title") }}"{{ end }} class="sn-topic{{ with .Get "class" }} {{ . }}{{ end }}">
  <div class="sn-container sn-grid">
    <div class="sn-col sn-info-card">
      {{ with .Get "title" }}
        <h1>{{ . }}</h1>
      {{end}}
      {{ with .Get "subtitle" }}
        <h2 id="{{ partial "hid" . }}">{{ . }}</h2>
      {{ end }}
      {{ .InnerDeindent }}
    </div>
    {{ partial "img-card" (dict "class" "sn-col" "img" (.Get "img") "alt" (.Get "alt")) }}
  </div>
</section>
