{{/*
  Renders inner content as HTML.

  Named parameters:

   * id       (optional) - section id attribute value
   * class    (optional) - additional CSS class for section
   * title    (optional) - the section title
   * subtitle (optional) - the section subtitle
   * img                 - the image URL
   * alt      (optional) - the image description

 */}}
<section{{ with .Get "id" }} id="{{ . }}"{{ end }} class="sn-grid sn-topic{{ with .Get "class" }} {{ . }}{{ end }}">
  <div class="sn-col sn-info-card">
    {{ if or (.Get "title") (.Get "subtitle") }}
      <header>
        {{ with .Get "title" }}
          <h1 id="{{ partial "hid" . }}">{{ . }}</h1>
        {{end}}
        {{ with .Get "subtitle" }}
          <h2 id="{{ partial "hid" . }}">{{ . }}</h2>
        {{ end }}
      </header>
    {{ end }}
    {{ .InnerDeindent }}
  </div>
  {{ partial "img-card" (dict "class" "sn-col" "img" (.Get "img") "alt" (.Get "alt")) }}
</section>
